<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8"/>
        <title>日記</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'diary/css/base.css' %}">
        <script src="{% static 'diary/js/base.js'%}"></script>
    </head>
    <body>
        <h1><a href="{% url 'diary:index' %}" >日記</a></h1>

        <div style ="text-align: right; padding: 10px;" >
            {% if user.is_authenticated %}
                <span>ログイン中：{{ user.username }}</span> |
                <a href="{% url 'login' %}?next={{ request.path }}">別のアカウントに切り替える</a>
                <a href="{% url 'login' %}">アカウント削除</a>
            {% else %}
                <a href="{% url 'login' %}?next={{ request.path }}">ログイン</a>
                <a href="{% url 'signup' %}">新規登録</a>
            {% endif %}
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>