body {
    width: 700px;
    min-height: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    background-color: #ffffff;
}
h1 {
    font-size: 30px;
    font-size: 3rem;
    position: relative;
    padding: 1.5rem;
    text-align: center;
}
h1 span {
    font-size: 18px;
    font-size: 1.8rem;
}