    {% extends "base/diary_base.html" %}
    {% block body %}


    <div id="clock"></div>
    <!--<p>{{ datetime_now }}</p>-->
    <br>
    <a href="{% url 'diary:page_create' %}" class="button">日記を書く</a>
    <br>
    <a href="{% url 'diary:page_list' %}" class="button">ページ一覧</a>
    <br>
<!--<p>関連リンク: <a href="{{ page.url }}" target="_blank">{{ page.url }}</a></p>-->
    <form action="{% url 'accounts:logout' %}"method="post">
        {% csrf_token %}
        <button type="submit">ログアウト</button>
    </form>

    {% endblock %}
   